In [54]:
import pandas as pd
from glob import glob

In [55]:
filepaths = glob('20210110_Python_Excel_02/sources/請求書*.xlsx')
filepaths

['20210110_Python_Excel_02/sources/請求書_11月_ICHIGO.xlsx',
 '20210110_Python_Excel_02/sources/請求書_12月_STR_Corp.xlsx',
 '20210110_Python_Excel_02/sources/請求書_12月_TTTInc.xlsx',
 '20210110_Python_Excel_02/sources/請求書_12月_CDF商事.xlsx',
 '20210110_Python_Excel_02/sources/請求書_12月_株式会社ABC.xlsx',
 '20210110_Python_Excel_02/sources/請求書_10月_TTTInc.xlsx',
 '20210110_Python_Excel_02/sources/請求書_11月_XYZ株式会社.xlsx']

In [56]:
def extract(filepath):
    _df = pd.read_excel(filepath)
    columns = _df.iloc[10, [1, 2, 4, 10, 11, 14]]
    df = _df.iloc[11:23, [1, 2, 4, 10, 11, 14]]
    df.columns = columns
    df['企業名'] = _df.iloc[2, 0]
    df['企業コード'] = _df.iloc[3, 4]
    df['請求書No'] = _df.iloc[2, 12]
    df['発行日'] = _df.iloc[3, 12]
    df['発行者'] = _df.iloc[4, 12]
    df['発行者コード'] = _df.iloc[4, 13]
    return df

In [57]:
df = pd.DataFrame()

for filepath in filepaths:
    df = pd.concat([df, extract(filepath)])

In [58]:
df.head()

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,企業名,企業コード,請求書No,発行日,発行者,発行者コード
11,2020-11-12 00:00:00,GSL0001,レギュラー,20,120,2400,ICHIGO,6,012,2020/11/30,岸辺,2.0
12,2020-11-12 00:00:00,GSL0002,ハイオク,45,160,7200,ICHIGO,6,012,2020/11/30,岸辺,2.0
13,2020-11-15 00:00:00,GSL0003,軽油,50,100,5000,ICHIGO,6,012,2020/11/30,岸辺,2.0
14,2020-11-15 00:00:00,GDS0002,コロン,3,800,2400,ICHIGO,6,012,2020/11/30,岸辺,2.0
15,2020-11-20 00:00:00,CMT0004,オイル交換,1,1000,1000,ICHIGO,6,012,2020/11/30,岸辺,2.0

In [59]:
len(df)

84

In [60]:
df = df.dropna()

In [61]:
df = df.reset_index(drop=True)

In [62]:
df = df.iloc[:, [6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5]]

In [63]:
df.head()

10,企業名,企業コード,請求書No,発行日,発行者,発行者コード,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額
0,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-12 00:00:00,GSL0001,レギュラー,20,120,2400
1,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-12 00:00:00,GSL0002,ハイオク,45,160,7200
2,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-15 00:00:00,GSL0003,軽油,50,100,5000
3,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-15 00:00:00,GDS0002,コロン,3,800,2400
4,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-20 00:00:00,CMT0004,オイル交換,1,1000,1000

In [64]:
df.to_excel('20210110_Python_Excel_02/output/all_data_02.xlsx', index=False)

In [65]:
members = df['発行者'].unique()

In [66]:
member = members[0]
member

'岸辺'

In [67]:
_df = df[df['発行者'] == member]
_df.head()

10,企業名,企業コード,請求書No,発行日,発行者,発行者コード,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額
0,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-12 00:00:00,GSL0001,レギュラー,20,120,2400
1,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-12 00:00:00,GSL0002,ハイオク,45,160,7200
2,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-15 00:00:00,GSL0003,軽油,50,100,5000
3,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-15 00:00:00,GDS0002,コロン,3,800,2400
4,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-20 00:00:00,CMT0004,オイル交換,1,1000,1000

In [68]:
_df['金額'].sum()

120300

In [69]:
companies = _df['企業名'].unique()
companies

array(['ICHIGO', 'TTT Inc.'], dtype=object)

In [70]:
_df[_df['企業名'] == companies[0]]['金額'].sum()

30900

In [71]:
_df[_df['企業名'] == companies[1]]['金額'].sum()

89400

In [72]:
tot_earnings = _df['金額'].sum()
tot_earnings

120300

In [74]:
pd.DataFrame({'担当者': member, '企業名': '全体', '金額': tot_earnings}, index = [0])

  担当者 企業名      金額
0  岸辺  全体  120300

In [85]:
company = companies[0]
company

'ICHIGO'

In [86]:
earnings = _df[_df['企業名'] == company]['金額'].sum()
earnings

30900

In [87]:
pd.DataFrame({'企業名': company, '金額': earnings}, index = [1])

      企業名     金額
1  ICHIGO  30900

In [92]:
{'担当者': member, '企業名': '全体', '金額': tot_earnings}

{'担当者': '岸辺', '企業名': '全体', '金額': 120300}

In [94]:
dict(担当者=member, 企業名='全体', 金額=tot_earnings)

{'担当者': '岸辺', '企業名': '全体', '金額': 120300}

In [95]:
dict(企業名=company, 金額=earnings)

{'企業名': 'ICHIGO', '金額': 30900}

In [97]:
total_res = []
for member in members:
    _df = df[df['発行者'] == member]
    companies = _df['企業名'].unique()

    tot_earnings = _df['金額'].sum()
    total_res.append(dict(担当者=member, 企業名='全体', 金額=tot_earnings))

    for company in companies:
        earnings = _df[_df['企業名'] == company]['金額'].sum()
        total_res.append(dict(企業名=company, 金額=earnings))

In [98]:
total_res

[{'担当者': '岸辺', '企業名': '全体', '金額': 120300},
 {'企業名': 'ICHIGO', '金額': 30900},
 {'企業名': 'TTT Inc.', '金額': 89400},
 {'担当者': '桜田', '企業名': '全体', '金額': 154400},
 {'企業名': 'STR Corp.', '金額': 55300},
 {'企業名': 'CDF商事', '金額': 39000},
 {'企業名': '株式会社ABC', '金額': 60100},
 {'担当者': '山岡', '企業名': '全体', '金額': 35800},
 {'企業名': 'XYZ株式会社', '金額': 35800}]

In [100]:
pd.DataFrame(total_res, columns=['担当者', '企業名', '金額'])

   担当者        企業名      金額
0   岸辺         全体  120300
1  NaN     ICHIGO   30900
2  NaN   TTT Inc.   89400
3   桜田         全体  154400
4  NaN  STR Corp.   55300
5  NaN      CDF商事   39000
6  NaN    株式会社ABC   60100
7   山岡         全体   35800
8  NaN    XYZ株式会社   35800

In [103]:
df_master = pd.read_excel('20210110_Python_Excel_02/sources/商品情報マスタ.xlsx')
df_master.head()

     商品コード     品名  単価[¥/L] or [¥]
0  GSL0001  レギュラー             120
1  GSL0002   ハイオク             160
2  GSL0003     軽油             100
3  GSL0004     灯油              80
4  CMT0001   洗車 A             500

In [104]:
df_order = pd.read_excel('20210110_Python_Excel_02/sources/注文表.xlsx')
df_order.head()

          日付    商品コード  数量
0 2020-12-01  GSL0001  40
1 2020-12-02  GSL0002  50
2 2020-12-03  GSL0001  35
3 2020-12-15  GSL0004  60
4 2020-12-15  CMT0003   2

In [106]:
df_merged = pd.merge(df_order, df_master, how='inner')
df_merged.head()

          日付    商品コード  数量     品名  単価[¥/L] or [¥]
0 2020-12-01  GSL0001  40  レギュラー             120
1 2020-12-03  GSL0001  35  レギュラー             120
2 2020-12-02  GSL0002  50   ハイオク             160
3 2020-12-15  GSL0004  60     灯油              80
4 2020-12-18  GSL0004  15     灯油              80

In [108]:
df_merged['金額'] = df_merged['数量'] * df_merged['単価[¥/L] or [¥]']

In [109]:
df_merged

           日付    商品コード  数量     品名  単価[¥/L] or [¥]     金額
0  2020-12-01  GSL0001  40  レギュラー             120   4800
1  2020-12-03  GSL0001  35  レギュラー             120   4200
2  2020-12-02  GSL0002  50   ハイオク             160   8000
3  2020-12-15  GSL0004  60     灯油              80   4800
4  2020-12-18  GSL0004  15     灯油              80   1200
5  2020-12-22  GSL0004  22     灯油              80   1760
6  2020-12-25  GSL0004  32     灯油              80   2560
7  2020-12-15  CMT0003   2   洗車 C            3000   6000
8  2020-12-21  CMT0003   4   洗車 C            3000  12000
9  2020-12-22  CMT0005   3  タイヤ交換            4000  12000
10 2020-12-28  CMT0004   4  オイル交換            1000   4000

In [113]:
df = pd.read_excel('20210110_Python_Excel_02/output/all_data_02.xlsx')
df.head()

,企業名,企業コード,請求書No,発行日,発行者,発行者コード,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額
0,ICHIGO,6,12,2020/11/30,岸辺,2,2020-11-12,GSL0001,レギュラー,20,120,2400
1,ICHIGO,6,12,2020/11/30,岸辺,2,2020-11-12,GSL0002,ハイオク,45,160,7200
2,ICHIGO,6,12,2020/11/30,岸辺,2,2020-11-15,GSL0003,軽油,50,100,5000
3,ICHIGO,6,12,2020/11/30,岸辺,2,2020-11-15,GDS0002,コロン,3,800,2400
4,ICHIGO,6,12,2020/11/30,岸辺,2,2020-11-20,CMT0004,オイル交換,1,1000,1000

In [114]:
import numpy as np

In [120]:
df.pivot_table(index=['企業名'], columns=['品名'], values=['金額'], aggfunc=np.sum)

               金額                                                            \
品名          オイル交換     コロン    スナック      タイヤ   タイヤ交換     ハイオク    レギュラー   洗車 A
企業名
CDF商事      1000.0     NaN     NaN      NaN  4000.0   7200.0   8400.0    NaN
ICHIGO     1000.0  2400.0     NaN      NaN     NaN  13600.0   2400.0    NaN
STR Corp.     NaN     NaN  1000.0  32000.0  4000.0   7200.0   7200.0    NaN
TTT Inc.   1000.0  2400.0     NaN      NaN  4000.0  19200.0  16800.0    NaN
XYZ株式会社       NaN     NaN     NaN      NaN     NaN  12000.0   6000.0    NaN
株式会社ABC    1000.0   800.0   300.0  32000.0  4000.0   7200.0   2400.0  500.0


品名           洗車 B    洗車 C       灯油       軽油
企業名
CDF商事         NaN  6000.0  12400.0      NaN
ICHIGO     1500.0     NaN      NaN  10000.0
STR Corp.  1500.0     NaN   2400.0      NaN
TTT Inc.   1500.0     NaN      NaN  44500.0
XYZ株式会社       NaN  6000.0   6800.0   5000.0
株式会社ABC    1500.0  3000.0   2400.0   5000.0

In [123]:
import openpyxl
from openpyxl.chart import BarChart, Reference

In [128]:
wb = openpyxl.load_workbook('20210110_Python_Excel_02/graphs/企業別当月売上表.xlsx')
sh = wb.active

In [130]:
data = Reference(sh, min_col=3, max_col=3, min_row=1, max_row=sh.max_row)
labels = Reference(sh, min_col=2, max_col=2, min_row=2, max_row=sh.max_row)

In [131]:
chart = BarChart()

In [133]:
chart.type = 'col'
chart.style = 28
chart.title = '取引先企業別売上'
chart.y_axis.title = '売上額'
chart.x_axis.title = '取引先企業名'

In [134]:
chart.add_data(data, titles_from_data=True)
chart.set_categories(labels)

In [135]:
sh.add_chart(chart, 'E3')

In [136]:
wb.save('20210110_Python_Excel_02/graphs/企業別当月売上表.xlsx')

In [137]:
from copy import deepcopy

In [138]:
deepcopy(chart)

<openpyxl.chart.bar_chart.BarChart object>
Parameters:
barDir='col', grouping='clustered', varyColors=None, ser=[<openpyxl.chart.series.Series object>
Parameters:
idx=0, order=0, tx=<openpyxl.chart.series.SeriesLabel object>
Parameters:
strRef=<openpyxl.chart.data_source.StrRef object>
Parameters:
f="'Sheet1'!C1", strCache=None, v=None, spPr=<openpyxl.chart.shapes.GraphicalProperties object>
Parameters:
bwMode=None, xfrm=None, prstGeom=None, noFill=False, solidFill=None, gradFill=None, pattFill=None, ln=<openpyxl.drawing.line.LineProperties object>
Parameters:
w=None, cap=None, cmpd=None, algn=None, noFill=False, solidFill=None, gradFill=None, pattFill=None, prstDash='solid', custDash=None, round=False, bevel=False, miter=None, headEnd=None, tailEnd=None, scene3d=None, sp3d=None, invertIfNegative=None, pictureOptions=None, dPt=[], dLbls=None, trendline=None, errBars=None, cat=<openpyxl.chart.data_source.AxDataSource object>
Parameters:
multiLvlStrRef=None, numLit=None, numRef=<openpyxl.chart.data_source.NumRef object>
Parameters:
f="'Sheet1'!$B$2:$B$11", numCache=None, strLit=None, strRef=None, val=<openpyxl.chart.data_source.NumDataSource object>
Parameters:
numLit=None, numRef=<openpyxl.chart.data_source.NumRef object>
Parameters:
f="'Sheet1'!$C$2:$C$11", numCache=None, shape=None], dLbls=None, gapWidth=150.0, overlap=None, serLines=None, axId=[10, 100]

In [139]:
chart2 = deepcopy(chart)

In [140]:
chart2.type = 'bar'
sh.add_chart(chart2, 'E15')
wb.save('20210110_Python_Excel_02/graphs/企業別当月売上表.xlsx')