In [122]:
import pandas as pd
from glob import glob

In [123]:
filepaths_order = glob('sources/order_new/order*.xlsx')
filepaths_order

['sources/order_new/order_C_20210203.xlsx',
 'sources/order_new/order_D_20210203.xlsx',
 'sources/order_new/order_A_20210203.xlsx',
 'sources/order_new/order_B_20210203.xlsx']

In [124]:
filepath = filepaths_order[0]
filepath

'sources/order_new/order_C_20210203.xlsx'

In [125]:
df_order =  pd.read_excel(filepath)
df_order

   焼酎  白ワイン  ブランデー
0   8    18      2

In [126]:
df_order.to_dict()

{'焼酎': {0: 8}, '白ワイン': {0: 18}, 'ブランデー': {0: 2}}

In [127]:
df_order.to_dict().items()

dict_items([('焼酎', {0: 8}), ('白ワイン', {0: 18}), ('ブランデー', {0: 2})])

In [128]:
from collections import defaultdict

In [129]:
order = defaultdict(int)

In [130]:
for key, value in df_order.to_dict().items():
    print(key, value)

焼酎 {0: 8}
白ワイン {0: 18}
ブランデー {0: 2}

In [131]:
for key, value in df_order.to_dict().items():
    order[key] += value[0]
    print(key, value[0])

焼酎 8
白ワイン 18
ブランデー 2

In [132]:
order

defaultdict(int, {'焼酎': 8, '白ワイン': 18, 'ブランデー': 2})

In [133]:
filepath = filepaths_order[1]
df_order =  pd.read_excel(filepath)
df_order

   焼酎  赤ワイン  白ワイン
0   3     4     6

In [134]:
for key, value in df_order.to_dict().items():
    order[key] += value[0]

In [135]:
order

defaultdict(int, {'焼酎': 11, '白ワイン': 24, 'ブランデー': 2, '赤ワイン': 4})

In [136]:
import os
import shutil

In [138]:
os.listdir('sources/order_new/')

['order_C_20210203.xlsx',
 'order_D_20210203.xlsx',
 'order_A_20210203.xlsx',
 'order_B_20210203.xlsx']

In [139]:
os.listdir('sources/order_old/')

[]

In [141]:
filepath = filepaths_order[0]
shutil.move(filepath, 'sources/order_old/')

'sources/order_old/order_C_20210203.xlsx'

In [160]:
def update_order(order, filepath):
    # 注文表読み込み
    df_order =  pd.read_excel(filepath)
    for key, value in df_order.to_dict().items():
        order[key] += value[0]

    # ファイルの移動
    shutil.move(filepath, 'sources/order_old/')
    return order

In [161]:
order = defaultdict(int)

In [170]:
order = defaultdict(int)

for filepath in filepaths_order:
    order = update_order(order, filepath)

In [171]:
order

defaultdict(int,
            {'焼酎': 16,
             '白ワイン': 54,
             'ブランデー': 2,
             '赤ワイン': 4,
             'ウィスキー': 7,
             '缶チューハイ': 23})

In [172]:
filepath_stock = 'sources/stock.xlsx'
df_stock = pd.read_excel(filepath_stock)

df_stock.tail(3)

           日付   曜日  日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
12 2021-02-02  Tue   66  48    38    70     31     18      98
13 2021-02-03  Wed   66  32    34    16     24     16      75
14 2021-02-03  Wed   66  16    30   -38     17     14      52

In [173]:
pd.DataFrame([10, 4, 6])

    0
0  10
1   4
2   6

In [174]:
pd.DataFrame([5, 1, 10])

    0
0   5
1   1
2  10

In [175]:
pd.DataFrame([10, 4, 6]) - pd.DataFrame([5, 1, 10])

   0
0  5
1  3
2 -4

In [176]:
stock = df_stock.iloc[-1:, 2:]
stock

    日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
14   66  16    30   -38     17     14      52

In [177]:
order

defaultdict(int,
            {'焼酎': 16,
             '白ワイン': 54,
             'ブランデー': 2,
             '赤ワイン': 4,
             'ウィスキー': 7,
             '缶チューハイ': 23})

In [178]:
order = pd.DataFrame(order, index=[0])
order

   焼酎  白ワイン  ブランデー  赤ワイン  ウィスキー  缶チューハイ
0  16    54      2     4      7      23

In [179]:
stock.columns

Index(['日本酒', '焼酎', '赤ワイン', '白ワイン', 'ウィスキー', 'ブランデー', '缶チューハイ'], dtype='object')

In [180]:
order = pd.DataFrame(order, index=[0], columns=stock.columns)

In [181]:
order

   日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
0  NaN  16     4    54      7      2      23

In [182]:
order = order.fillna(0)
order

   日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
0  0.0  16     4    54      7      2      23

In [183]:
stock - order

    日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
0   NaN NaN   NaN   NaN    NaN    NaN     NaN
14  NaN NaN   NaN   NaN    NaN    NaN     NaN

In [187]:
stock = stock.reset_index(drop=True)

In [190]:
updated = stock - order
updated

    日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
0  66.0   0    26   -92     10     12      29

In [191]:
filepath_master = 'sources/master.xlsx'
df_master = pd.read_excel(filepath_master)
df_master

  Unnamed: 0  日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
0         閾値   30  20    20    20     30     10      40
1        追加量  100  80   100   100     80     80     120

In [194]:
df_master.iloc[0 , 1:]

日本酒       30
焼酎        20
赤ワイン      20
白ワイン      20
ウィスキー     30
ブランデー     10
缶チューハイ    40
Name: 0, dtype: object

In [196]:
threshold = df_master.iloc[:1 , 1:]
threshold

   日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
0   30  20    20    20     30     10      40

In [199]:
updated

    日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
0  66.0   0    26   -92     10     12      29

In [201]:
updated < threshold

     日本酒    焼酎   赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
0  False  True  False  True   True  False    True

In [205]:
shortage_columns = updated[updated < threshold].dropna(axis=1).columns
shortage_columns

Index(['焼酎', '白ワイン', 'ウィスキー', '缶チューハイ'], dtype='object')

In [209]:
df_shortage = df_master.iloc[1:, 1:][shortage_columns]
df_shortage

   焼酎  白ワイン  ウィスキー  缶チューハイ
1  80   100     80     120

In [220]:
order_text = ''

for key, value in df_shortage.to_dict().items():
    order_text += f'{key}を{value[1]}本、'
# order_text += '発注お願いします。'

In [221]:
order_text

'焼酎を80本、白ワインを100本、ウィスキーを80本、缶チューハイを120本、'

In [238]:
import json
with open('sources/secret.json') as f:
    address_password = json.load(f)

In [239]:
import smtplib
from email.mime.text import MIMEText
from email.utils import formatdate

from_addr = address_password['ADDRESS']
password = address_password['PASSWORD']

subject = '発注依頼'
body = f'佐藤さん、在庫数が足りなくなってしまったため、{order_text}発注してください。'
to_addr = 'gigpayown@macr2.com'

# SMTPサーバに接続
smtpobj = smtplib.SMTP('smtp.gmail.com', 587)
smtpobj.starttls()
smtpobj.login(from_addr, password)

# メッセージ（メール）の作成
msg = MIMEText(body)
msg['Subject'] = subject
msg['From'] = from_addr
msg['To'] = to_addr
msg['Date'] = formatdate()

# 作成したメールを送信
smtpobj.send_message(msg)
smtpobj.close()

In [258]:
from datetime import datetime

In [259]:
today = datetime.today()

In [260]:
print(today.strftime('%a'))

Sat

In [261]:
updated['日付'] = today
updated['曜日'] = today.strftime('%a')

In [262]:
df_stock.tail(3)

           日付   曜日  日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
12 2021-02-02  Tue   66  48    38    70     31     18      98
13 2021-02-03  Wed   66  32    34    16     24     16      75
14 2021-02-03  Wed   66  16    30   -38     17     14      52

In [263]:
updated

    日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ                         日付   曜日
0  66.0   0    26   -92     10     12      29 2021-11-13 19:10:25.534871  Sat

In [264]:
df_stock.tail()

           日付   曜日  日本酒  焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
10 2021-01-29  Fri   99  66    77   107     31     37     149
11 2021-02-01  Mon   78  62    55    92     41     30     121
12 2021-02-02  Tue   66  48    38    70     31     18      98
13 2021-02-03  Wed   66  32    34    16     24     16      75
14 2021-02-03  Wed   66  16    30   -38     17     14      52

In [266]:
pd.concat([df_stock, updated], sort=False).reset_index(drop=True).to_excel(filepath_stock, index=False)

In [267]:
filepath_stock

'sources/stock.xlsx'

In [268]:
pd.read_excel(filepath_stock)

                        日付   曜日  日本酒   焼酎  赤ワイン  白ワイン  ウィスキー  ブランデー  缶チューハイ
0  2021-01-15 00:00:00.000  Fri  100   80    51    63    150     60      95
1  2021-01-18 00:00:00.000  Mon   88   73    35    38    130     50      82
2  2021-01-19 00:00:00.000  Tue   73   66   105    15    126     37      75
3  2021-01-20 00:00:00.000  Wed   50   55    96   123    114     27      43
4  2021-01-21 00:00:00.000  Thu   39   44    75    96    106     13      19
5  2021-01-22 00:00:00.000  Fri   25   31    64    88     98     10     117
6  2021-01-25 00:00:00.000  Mon  125  106    37    77     83     84      97
7  2021-01-26 00:00:00.000  Tue  120   96    34    50     69     75      67
8  2021-01-27 00:00:00.000  Wed  112   85    10    35     54     53      49
9  2021-01-28 00:00:00.000  Thu  103   74    90    19     41     44      12
10 2021-01-29 00:00:00.000  Fri   99   66    77   107     31     37     149
11 2021-02-01 00:00:00.000  Mon   78   62    55    92     41     30     121
12 2021-02-02 00:00:00.000  Tue   66   48    38    70     31     18      98
13 2021-02-03 00:00:00.000  Wed   66   32    34    16     24     16      75
14 2021-02-03 00:00:00.000  Wed   66   16    30   -38     17     14      52
15 2021-11-13 19:10:25.535  Sat   66    0    26   -92     10     12      29

In [ ]:
import pandas as pd
from glob import glob
from collections import defaultdict

import os
import shutil

import json    
import smtplib
from email.mime.text import MIMEText
from email.utils import formatdate
from datetime import date

# 注文表の集計
def update_order(order, filepath):
    # 注文表読み込み
    df_order = pd.read_excel(filepath)
    for key, value in df_order.to_dict().items():
        order[key] += value[0]
    # ファイルの移動
    shutil.move(filepath, 'sources/order_old/')
    return order

def main():
    print('ーーーーー開始ーーーーー')
    # 注文情報の収集
    print('注文情報の収集')
    order = defaultdict(int)
    filepaths_order = glob('sources/order_new/order*.xlsx')
    for filepath in filepaths_order:
        order = update_order(order, filepath)
    print('Done')

    # 最新の在庫量の確認
    print('最新の在庫量の確認')
    filepath_stock = 'sources/stock.xlsx'
    df_stock = pd.read_excel(filepath_stock)

    stock = df_stock.iloc[-1:, 2:]
    stock = stock.reset_index(drop=True)

    order = pd.DataFrame(order, index=[0], columns=stock.columns)
    order = order.fillna(0)

    updated = stock - order
    print('Done')


    # 追加注文品の算出
    print('追加注文品の算出')
    filepath_master = 'sources/master.xlsx'
    df_master = pd.read_excel(filepath_master)

    threshold = df_master.iloc[:1 , 1:]
    shortage_columns = updated[updated < threshold].dropna(axis=1).columns

    df_shortage = df_master.iloc[1:, 1:][shortage_columns]

    order_text = ''
    for key, value in df_shortage.to_dict().items():
        order_text += f'{key}を{value[1]}本、'
    print('Done')


    # Gmailで注文
    print('Gmailで注文')
    with open('sources/secret.json') as f:
        address_password = json.load(f)

    from_addr = address_password['ADDRESS']
    password = address_password['PASSWORD']

    subject = '発注依頼'
    body = f'○○さん、在庫数が足りなくなってしまったため、{order_text}発注してください。'
    to_addr = ''

    # SMTPサーバに接続
    smtpobj = smtplib.SMTP('smtp.gmail.com', 587)
    smtpobj.starttls()
    smtpobj.login(from_addr, password)

    # メッセージ（メール）の作成
    msg = MIMEText(body)
    msg['Subject'] = subject
    msg['From'] = from_addr
    msg['To'] = to_addr
    msg['Date'] = formatdate()

    # 作成したメールを送信
    smtpobj.send_message(msg)
    smtpobj.close()
    print('Done')


    # 在庫表の更新
    print('在庫表の更新')
    today = date.today()
    updated['日付'] = today
    updated['曜日'] = today.strftime('%a')

    pd.concat([df_stock, updated], sort=False).reset_index(drop=True).to_excel(filepath_stock, index=False)
    pd.read_excel(filepath_stock)
    print('ーーーーー終了ーーーーー')

if __name__ == '__main__':
    main()