In [54]:
import pandas as pd
from glob import glob

In [55]:
filepaths = glob('20210110_Python_Excel_02/sources/請求書*.xlsx')
filepaths

['20210110_Python_Excel_02/sources/請求書_11月_ICHIGO.xlsx',
 '20210110_Python_Excel_02/sources/請求書_12月_STR_Corp.xlsx',
 '20210110_Python_Excel_02/sources/請求書_12月_TTTInc.xlsx',
 '20210110_Python_Excel_02/sources/請求書_12月_CDF商事.xlsx',
 '20210110_Python_Excel_02/sources/請求書_12月_株式会社ABC.xlsx',
 '20210110_Python_Excel_02/sources/請求書_10月_TTTInc.xlsx',
 '20210110_Python_Excel_02/sources/請求書_11月_XYZ株式会社.xlsx']

In [56]:
def extract(filepath):
    _df = pd.read_excel(filepath)
    columns = _df.iloc[10, [1, 2, 4, 10, 11, 14]]
    df = _df.iloc[11:23, [1, 2, 4, 10, 11, 14]]
    df.columns = columns
    df['企業名'] = _df.iloc[2, 0]
    df['企業コード'] = _df.iloc[3, 4]
    df['請求書No'] = _df.iloc[2, 12]
    df['発行日'] = _df.iloc[3, 12]
    df['発行者'] = _df.iloc[4, 12]
    df['発行者コード'] = _df.iloc[4, 13]
    return df

In [57]:
df = pd.DataFrame()

for filepath in filepaths:
    df = pd.concat([df, extract(filepath)])

In [58]:
df.head()

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,企業名,企業コード,請求書No,発行日,発行者,発行者コード
11,2020-11-12 00:00:00,GSL0001,レギュラー,20,120,2400,ICHIGO,6,012,2020/11/30,岸辺,2.0
12,2020-11-12 00:00:00,GSL0002,ハイオク,45,160,7200,ICHIGO,6,012,2020/11/30,岸辺,2.0
13,2020-11-15 00:00:00,GSL0003,軽油,50,100,5000,ICHIGO,6,012,2020/11/30,岸辺,2.0
14,2020-11-15 00:00:00,GDS0002,コロン,3,800,2400,ICHIGO,6,012,2020/11/30,岸辺,2.0
15,2020-11-20 00:00:00,CMT0004,オイル交換,1,1000,1000,ICHIGO,6,012,2020/11/30,岸辺,2.0

In [59]:
len(df)

84

In [60]:
df = df.dropna()

In [61]:
df = df.reset_index(drop=True)

In [62]:
df = df.iloc[:, [6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5]]

In [63]:
df.head()

10,企業名,企業コード,請求書No,発行日,発行者,発行者コード,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額
0,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-12 00:00:00,GSL0001,レギュラー,20,120,2400
1,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-12 00:00:00,GSL0002,ハイオク,45,160,7200
2,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-15 00:00:00,GSL0003,軽油,50,100,5000
3,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-15 00:00:00,GDS0002,コロン,3,800,2400
4,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-20 00:00:00,CMT0004,オイル交換,1,1000,1000

In [64]:
df.to_excel('20210110_Python_Excel_02/output/all_data_02.xlsx', index=False)

In [65]:
members = df['発行者'].unique()

In [66]:
member = members[0]
member

'岸辺'

In [67]:
_df = df[df['発行者'] == member]
_df.head()

10,企業名,企業コード,請求書No,発行日,発行者,発行者コード,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額
0,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-12 00:00:00,GSL0001,レギュラー,20,120,2400
1,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-12 00:00:00,GSL0002,ハイオク,45,160,7200
2,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-15 00:00:00,GSL0003,軽油,50,100,5000
3,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-15 00:00:00,GDS0002,コロン,3,800,2400
4,ICHIGO,6,012,2020/11/30,岸辺,2.0,2020-11-20 00:00:00,CMT0004,オイル交換,1,1000,1000

In [68]:
_df['金額'].sum()

120300

In [69]:
companies = _df['企業名'].unique()
companies

array(['ICHIGO', 'TTT Inc.'], dtype=object)

In [70]:
_df[_df['企業名'] == companies[0]]['金額'].sum()

30900

In [71]:
_df[_df['企業名'] == companies[1]]['金額'].sum()

89400

In [72]:
tot_earnings = _df['金額'].sum()
tot_earnings

120300

In [74]:
pd.DataFrame({'担当者': member, '企業名': '全体', '金額': tot_earnings}, index = [0])

  担当者 企業名      金額
0  岸辺  全体  120300

In [85]:
company = companies[0]
company

'ICHIGO'

In [86]:
earnings = _df[_df['企業名'] == company]['金額'].sum()
earnings

30900

In [87]:
pd.DataFrame({'企業名': company, '金額': earnings}, index = [1])

      企業名     金額
1  ICHIGO  30900

In [92]:
{'担当者': member, '企業名': '全体', '金額': tot_earnings}

{'担当者': '岸辺', '企業名': '全体', '金額': 120300}

In [94]:
dict(担当者=member, 企業名='全体', 金額=tot_earnings)

{'担当者': '岸辺', '企業名': '全体', '金額': 120300}

In [95]:
dict(企業名=company, 金額=earnings)

{'企業名': 'ICHIGO', '金額': 30900}

In [97]:
total_res = []
for member in members:
    _df = df[df['発行者'] == member]
    companies = _df['企業名'].unique()

    tot_earnings = _df['金額'].sum()
    total_res.append(dict(担当者=member, 企業名='全体', 金額=tot_earnings))

    for company in companies:
        earnings = _df[_df['企業名'] == company]['金額'].sum()
        total_res.append(dict(企業名=company, 金額=earnings))

In [98]:
total_res

[{'担当者': '岸辺', '企業名': '全体', '金額': 120300},
 {'企業名': 'ICHIGO', '金額': 30900},
 {'企業名': 'TTT Inc.', '金額': 89400},
 {'担当者': '桜田', '企業名': '全体', '金額': 154400},
 {'企業名': 'STR Corp.', '金額': 55300},
 {'企業名': 'CDF商事', '金額': 39000},
 {'企業名': '株式会社ABC', '金額': 60100},
 {'担当者': '山岡', '企業名': '全体', '金額': 35800},
 {'企業名': 'XYZ株式会社', '金額': 35800}]

In [99]:
pd.DataFrame(total_res, columns=['担当者', '企業名', '金額'])

   担当者        企業名      金額
0   岸辺         全体  120300
1  NaN     ICHIGO   30900
2  NaN   TTT Inc.   89400
3   桜田         全体  154400
4  NaN  STR Corp.   55300
5  NaN      CDF商事   39000
6  NaN    株式会社ABC   60100
7   山岡         全体   35800
8  NaN    XYZ株式会社   35800