In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
url = 'https://scraping-for-beginner.herokuapp.com/ranking/'
res = requests.get(url)

In [4]:
res

In [5]:
soup = BeautifulSoup(res.text, 'html.parser')
# soup

## 1つの観光地情報を取得

In [6]:
# 観光地名
spots = soup.find_all('div', attrs={'class': 'u_areaListRankingBox'})
spot = spots[0]
# spot.find_all('div', attrs={'class': 'u_title'})
spot_name = spot.find('div', attrs={'class': 'u_title'})
spot_name

<div class="u_title col s12">
<p><h2><span class="badge">1</span>観光地 1</h2></p>
</div>

In [7]:
spot_name.text

'\n1観光地 1\n'

In [8]:
spot_name.find('span', attrs={'class': 'badge'})

In [9]:
spot_name.find('span', attrs={'class': 'badge'}).extract()

In [10]:
spot_name

<div class="u_title col s12">
<p><h2>観光地 1</h2></p>
</div>

In [11]:
spot_name = spot_name.text.replace('\n', '')
spot_name

'観光地 1'

In [12]:
# 評点
# spot.find_all('div', attrs={'class': 'u_rankBox'})
eval_num = spot.find('div', attrs={'class': 'u_rankBox'}).text
eval_num = float(eval_num.replace('\n', ''))

In [13]:
eval_num

4.7

In [14]:
categoryItems = spot.find('div', attrs={'class': 'u_categoryTipsItem'})
categoryItems

<div class="u_categoryTipsItem col s12">
<dl>
<dt>楽しさ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.6</span></dd>
<dd class="comment">満喫できた</dd>
</dl>
<dl>
<dt>人混みの多さ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.5</span></dd>
<dd class="comment">まぁまぁ混んでいた</dd>
</dl>
<dl>
<dt>景色</dt>
<dd class="is_rank"><span class="evaluateNumber">4.9</span></dd>
<dd class="comment">自然の素晴らしさを味わった</dd>
</dl>
<dl>
<dt>アクセス</dt>
<dd class="is_rank"><span class="evaluateNumber">4.2</span></dd>
<dd class="comment">アクセスはあまり良くなかった</dd>
</dl>
</div>

In [15]:
categoryItems = categoryItems.find_all('dl')
categoryItems

[<dl>
 <dt>楽しさ</dt>
 <dd class="is_rank"><span class="evaluateNumber">4.6</span></dd>
 <dd class="comment">満喫できた</dd>
 </dl>,
 <dl>
 <dt>人混みの多さ</dt>
 <dd class="is_rank"><span class="evaluateNumber">4.5</span></dd>
 <dd class="comment">まぁまぁ混んでいた</dd>
 </dl>,
 <dl>
 <dt>景色</dt>
 <dd class="is_rank"><span class="evaluateNumber">4.9</span></dd>
 <dd class="comment">自然の素晴らしさを味わった</dd>
 </dl>,
 <dl>
 <dt>アクセス</dt>
 <dd class="is_rank"><span class="evaluateNumber">4.2</span></dd>
 <dd class="comment">アクセスはあまり良くなかった</dd>
 </dl>]

In [16]:
# 楽しさのみ取得
categoryItem = categoryItems[0]
categoryItem

<dl>
<dt>楽しさ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.6</span></dd>
<dd class="comment">満喫できた</dd>
</dl>

In [17]:
category = categoryItem.dt.text
category

'楽しさ'

In [18]:
rank = float(categoryItem.span.text)
rank

4.6

In [23]:
details = {}

categoryItem = categoryItems[0]
category = categoryItem.dt.text
rank = float(categoryItem.span.text)

details[category] = rank

In [24]:
details

{'楽しさ': 4.6}

In [27]:
details = {}

for categoryItem in categoryItems:
    category = categoryItem.dt.text
    rank = float(categoryItem.span.text)

    details[category] = rank

In [28]:
details

{'楽しさ': 4.6, '人混みの多さ': 4.5, '景色': 4.9, 'アクセス': 4.2}

In [29]:
datum = details
datum

{'楽しさ': 4.6, '人混みの多さ': 4.5, '景色': 4.9, 'アクセス': 4.2}

In [31]:
datum['観光地名'] = spot_name
datum['評点'] = eval_num

In [32]:
datum

{'楽しさ': 4.6, '人混みの多さ': 4.5, '景色': 4.9, 'アクセス': 4.2, '観光地名': '観光地 1', '評点': 4.7}

In [37]:
soup = BeautifulSoup(res.text, 'html.parser')

data = []

# 観光地名
spots = soup.find_all('div', attrs={'class': 'u_areaListRankingBox'})
for spot in spots:
    spot_name = spot.find('div', attrs={'class': 'u_title'})

    spot_name.find('span', attrs={'class': 'badge'}).extract()

    spot_name = spot_name.text.replace('\n', '')

    # 評点
    eval_num = spot.find('div', attrs={'class': 'u_rankBox'}).text
    eval_num = float(eval_num.replace('\n', ''))

    categoryItems = spot.find('div', attrs={'class': 'u_categoryTipsItem'})
    categoryItems = categoryItems.find_all('dl')

    details = {}

    for categoryItem in categoryItems:
        category = categoryItem.dt.text
        rank = float(categoryItem.span.text)

        details[category] = rank

    datum = details
    datum['観光地名'] = spot_name
    datum['評点'] = eval_num
    data.append(datum)

In [38]:
data

[{'楽しさ': 4.6,
  '人混みの多さ': 4.5,
  '景色': 4.9,
  'アクセス': 4.2,
  '観光地名': '観光地 1',
  '評点': 4.7},
 {'楽しさ': 4.6,
  '人混みの多さ': 4.5,
  '景色': 4.9,
  'アクセス': 4.2,
  '観光地名': '観光地 2',
  '評点': 4.7},
 {'楽しさ': 4.5,
  '人混みの多さ': 4.4,
  '景色': 4.8,
  'アクセス': 4.1,
  '観光地名': '観光地 3',
  '評点': 4.6},
 {'楽しさ': 4.4,
  '人混みの多さ': 4.4,
  '景色': 4.8,
  'アクセス': 4.0,
  '観光地名': '観光地 4',
  '評点': 4.5},
 {'楽しさ': 4.4,
  '人混みの多さ': 4.3,
  '景色': 4.7,
  'アクセス': 4.0,
  '観光地名': '観光地 5',
  '評点': 4.5},
 {'楽しさ': 4.3,
  '人混みの多さ': 4.3,
  '景色': 4.7,
  'アクセス': 3.9,
  '観光地名': '観光地 6',
  '評点': 4.4},
 {'楽しさ': 4.2,
  '人混みの多さ': 4.2,
  '景色': 4.6,
  'アクセス': 3.8,
  '観光地名': '観光地 7',
  '評点': 4.3},
 {'楽しさ': 4.2,
  '人混みの多さ': 4.2,
  '景色': 4.6,
  'アクセス': 3.8,
  '観光地名': '観光地 8',
  '評点': 4.3},
 {'楽しさ': 4.1,
  '人混みの多さ': 4.1,
  '景色': 4.5,
  'アクセス': 3.7,
  '観光地名': '観光地 9',
  '評点': 4.2},
 {'楽しさ': 4.0,
  '人混みの多さ': 4.1,
  '景色': 4.4,
  'アクセス': 3.6,
  '観光地名': '観光地 10',
  '評点': 4.1}]

In [39]:
import pandas as pd

In [40]:
df = pd.DataFrame(data)

In [41]:
df

   楽しさ  人混みの多さ   景色  アクセス    観光地名   評点
0  4.6     4.5  4.9   4.2   観光地 1  4.7
1  4.6     4.5  4.9   4.2   観光地 2  4.7
2  4.5     4.4  4.8   4.1   観光地 3  4.6
3  4.4     4.4  4.8   4.0   観光地 4  4.5
4  4.4     4.3  4.7   4.0   観光地 5  4.5
5  4.3     4.3  4.7   3.9   観光地 6  4.4
6  4.2     4.2  4.6   3.8   観光地 7  4.3
7  4.2     4.2  4.6   3.8   観光地 8  4.3
8  4.1     4.1  4.5   3.7   観光地 9  4.2
9  4.0     4.1  4.4   3.6  観光地 10  4.1

In [42]:
df.columns

Index(['楽しさ', '人混みの多さ', '景色', 'アクセス', '観光地名', '評点'], dtype='object')

In [48]:
df = df[['観光地名', '評点', 'アクセス', '人混みの多さ', '景色', '楽しさ',]]
df

     観光地名   評点  アクセス  人混みの多さ   景色  楽しさ
0   観光地 1  4.7   4.2     4.5  4.9  4.6
1   観光地 2  4.7   4.2     4.5  4.9  4.6
2   観光地 3  4.6   4.1     4.4  4.8  4.5
3   観光地 4  4.5   4.0     4.4  4.8  4.4
4   観光地 5  4.5   4.0     4.3  4.7  4.4
5   観光地 6  4.4   3.9     4.3  4.7  4.3
6   観光地 7  4.3   3.8     4.2  4.6  4.2
7   観光地 8  4.3   3.8     4.2  4.6  4.2
8   観光地 9  4.2   3.7     4.1  4.5  4.1
9  観光地 10  4.1   3.6     4.1  4.4  4.0

In [49]:
df.to_csv('観光地情報.csv', index=False)